/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

.main-container {
    width: 100%;
    max-width: 767.98px;
    padding:  0px;
}    

body {
    margin: 0;
}
/*********** Header ****************/

.logo img {
    margin-top: 10px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 1em;
}

.logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.navigation ul {
    flex-direction: row;
    margin-left: -40px;
}

.navigation li{
    margin-top: 30px;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.navigation li:hover {
    color: #0065FC;
    border-bottom: 2px #0065FC solid;
    padding-bottom: 20px;
}

.header-style:hover {
    border-top: none;
}


.padding-ajustement {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

/********* Barre recherche *******/

.recherche {
    justify-content: center;
    margin-left: 1em;
}

.barre-recherche {
    margin-top: 2em;
    padding-right: 15%;
    border-right-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
}

.bouton-recherche {
    visibility: hidden;
    position: absolute;
}

.bouton-loupe {
    visibility: visible;
    position: relative;
    left: -20px;
    background-color: #0065FC;
    border-style: none;
    border-radius: 20px;
    height: 4em;
    width: 4em;
    box-shadow: 0px 3px 5px #a4a4a7;
}

.bouton-loupe i {
    color: #ffffff;
    font-size: large;
}

/************ Bouton Filtre ************/

.filtre {
    margin-left: 20px;
    margin-top: 0;
}

.centre-filtre {
    justify-content: center;
}

.bouton-filtre {
    width: 44%;
    margin-left: 20px;
    margin-right: -10px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.bouton-filtre span{
    font-size: 20px;
    margin-right: 10px;
}
/************ Partie Info ****************/

.info span{
    font-size: 14px;
    
}

.info {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 20px;
}



/*************** hébergements et populaire *************************/

.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -30px;
}

.hebergements-and-populaires h2 {
    margin-left: -5px;
}

.hebergements-and-populaires section {
    border-radius: 0;
}


/*********** Les plus populaires ********************/

.populaires-cards {
    display: block;
}

/****************** hébergement ***********************/

.hebergements-and-populaires .hebergements {
    background-color: white;
}


.hebergement-direction {
    flex-direction: column;
    
}

.hebergement-cards .card {
    margin-bottom: 1px;
    margin-top: 1em;
}

.hebergement-cards .card-title {
    margin-top: 5px;
}


.hebergements h3{
    margin-top: 15px;
    margin-bottom: 4em;
}



/**************** Carte Activités Responsive ****************/

.activites  {
    display: block;
}

.activites-cards {
    margin: 15px;
    margin-left: 5%;
    height: 11em;
    width: 90%;
    gap: 0;
}

.activites-cards .card-title {
    margin: 5px;
    padding-left: 10px;
}


.section-title {
    margin-left: 20px;
    margin-right: 10px;
}

/********** Footer *****************/

.footer {
    display:flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}

.footer section {
    margin-left: 20px;
}

}